@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap{
  /* border: thin red solid; */
  /* width: 100%; */
  margin: auto;
}

.header-container{
  border-bottom: thin lightgray solid;
  background-color: black;
  height: 5em;
  /* padding-top: .8em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text{
  color: white;
  font-size: 2em;
  padding-left: 0.5em;
}

.header-bars{
  color: white;
  font-size: 1.8em;
  padding-right: 0.5em;
}

.article{
  /* border: thin blue solid; */
  border-bottom: thin lightgray solid;
  min-height: 10em;
  display: flex;
  padding: .5em;
  background-color: black;
}

.article-image img{
  display: block;
  width:100%;
}

.article-text{
  padding-left: 1em;
  color: white;
}

h1{
  font-size: 1.5em;
}

p{
  font-size: 1em;
}